/*=========== - Text - Font - ===================*/
h1 {
    color: #D1C899;
}

h2 {
    color: #D1C899;
}

h3{
    color: #33649d;
    font-size: 25px;
}

p {
    color: #12537e;
    font-size: 20px;
}



/*============= - Header - ======================*/

header {
    border: 3px solid #124646;
    background-color: #0a1d1d;
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
    /* Do not change. Not breaking border for nav */
    box-sizing: border-box;

}

nav {

    /* Do not change. Take all space fro left*/
    margin-left: auto;
    display: flex;
    gap: 20px;
}

/*============================ - Body - =================================*/

body {
    margin: 0;
    min-height: 100vh;
    background-color: #071314;
    background-image:
        /*lines direction to the right*/
        linear-gradient(rgba(80, 140, 160, 0.12) 1px, transparent 1px),
        /*lines direction to down*/
        linear-gradient(90deg, rgba(80, 140, 160, 0.12) 1px, transparent 1px);
    background-size: 50px 50px;

    /* background-image: url("/images/backphoto.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    Do not change ; make view point = hight of page window 8
    min-height: 100vh; */

    display: flex;
    flex-direction: column;
}

main {
    /*Do not change. In combination with 
    body - display: flex; 
    flex-direction: column;
    keep footer always on bottom*/
    flex: 1;
}

/* ===================== Section - 1 - index.html ====================*/

#homeBarotrauma {

    text-align: center;
    margin-bottom: 5px;
}

/* do not change [ UI ] */
#typeEffect {
    margin-left: 5%;
    margin-right: 5%;
}

/* ===================== Section - 2 - index.html ====================*/
#crew {

    text-align: center;
    justify-content: center;
    margin-bottom: 5px;
}

.crewCard {
    flex: 0 0 250px;
    margin: 10px;
    border: 3px solid #2a4a47;
    box-shadow: 5px 5px 6px 0px rgba(39, 71, 79, 0.3);
    transition: 0.5s;
    background-color: rgb(20, 34, 34);
}

.crewCard img {
    max-width: 100%;
    margin: 0;
}

.crewCard p:nth-of-type(1) {
    padding-bottom: 1em;
    border-bottom: solid lightgray 4px;
}

.crewCard p:nth-of-type(2) {
    color: rgb(92, 111, 174);
}

.crewCard:hover {
    transform: scale(1.1); /* adjust if changing zoom of cards when pointing*/
}

.cardsUI {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.CREW{
    color: #0dc71f;
}


/* ===================== Section - 3 - index.html ====================*/

#warning {

    text-align: center;
    margin-bottom: 5px;
}

#textWarning {
    margin-left: 5%;
    margin-right: 5%;
}

/* ! DO NOT TOUCH ! Related to JS section 3 accordion.  */
.content {
    max-height: 0;
    /* because now we can not see the text cause the hight is 0 */
    overflow: hidden;
    /* cutting what didnt feet */
    transition: max-height 0.5s ease;
    /* that why I have smoothy effect */
    background: #1f3738;
    border-radius: 8px;
    padding: 0 10px;
}

.content.open {
    max-height: 200px;
    padding: 10px;
}


/*=================FOOTER=======================*/

footer {
    text-align: center;
    border: 3px solid #124646;
    padding: 20px;
    background-color: #0a1d1d;
    margin-top: 15px;
}